@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 14px;

    @screen lg {
      font-size: 16px;
    }
  }

  @font-face {
    font-family: Ogen;
    src: url('@/assets/fonts/Ogen.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: Ogen;
    src: url('@/assets/fonts/OgenBold.ttf');
    font-weight: bold;
  }

  @font-face {
    font-family: Ogen;
    src: url('@/assets/fonts/OgenBlack.ttf');
    font-weight: 900;
  }

  * {
    font-family: 'Ogen' !important;
  }

  .base-padding {
    @apply pt-16;
  }
}

@layer components {
  .s-btn {
    @apply text-trade-blue-dark;
    @apply bg-orange-gradient;
    @apply shadow-md;
    @apply rounded-md;
    @apply px-4 py-2;

    &:hover {
      @apply bg-orange-gradient-reverse;
    }
  }

  .main-title {
    @apply font-bold text-6xl py-10 text-center lg:text-right;

    span {
      @apply border-b-4 border-trade-orange-1;
    }
  }
}
